*{box-sizing:border-box;font-family: 'Open Sans', sans-serif;font-weight:400;font-size:13px;line-height:1.4;}
body{background:#fff;}
#main_header{height:89px;}
#navbar{box-shadow: 0px 1px 1px #999;background:#fff;margin-bottom:0;min-height:auto;padding:5px;}
.mainlogo{display:block;transition:all 0.3s ease;max-width:115px;}
.mainlogo img{display:block;width:100%;}
.fix_container{max-width:1024px;position:relative;margin:0 auto;}
.btn-brdr{background:none;border:1px #5d6f7d solid;color:#5d6f7d;border-radius:4px;transition:all 0.3s ease;}
.sign_inbtn{position:Absolute;right:0px;top:0px;text-transform:uppercase;}
.sign_inbtn.green{border:1px #9bcc82 solid;color:#9bcc82;text-transform:none;}
.btn-brdr:hover{background:#5d6f7d;color:#fff;}
.sign_inbtn.green:hover{background:#9bcc82;color:#fff;}
.header_menu{position:absolute;top:40px;left:-5px;right:-5px;background:#f0f0f0;padding:5px 10px;box-shadow: 0px 1px 1px #999;}
.header_menu .btn{color:#898989;text-transform:uppercase;width:48%;}
.header_menu .btn:hover{color:#454545;background:#f7f7f7;}
.header_banner{background:url(../images/background.jpg) no-repeat center right;background-size:cover;}
.header_search{margin:0 auto;max-width:480px;padding:40px 10px 40px 10px;}
.header_txt{font-family:'Short Stack', cursive;margin:0;padding:0;margin-bottom:30px;font-size:28px;text-align:center;color:#fff;}
.app_feature{position:relative;border-top:1px #252e3f solid;}
.app_feature:before{content:'';background:#252e3f;left:0;top:0;right:0;bottom:0;opacity:0.3;filter:alpha(opacity=30);position:absolute;}
.app_feature .col{padding:10px;font-size:13px;color:#fff;text-align:center;position:static;}
.app_feature .col:nth-child(2):before, .app_feature .col:nth-child(2):after{top:0;bottom:0;position:absolute;width:1px;background:#252e3f;content:'';}
.app_feature .col:nth-child(2):before{left:33.33333%;}
.app_feature .col:nth-child(2):after{left:66.6666%}
.app_feature .feature_ico{width:40px;height:40px;border:1px #fff solid;margin:0 auto;margin-bottom:5px;position:relative;}
.app_feature .feature_ico:before{content:'';width:40px;height:40px;position:Absolute;left:0px;top:0px;}
.app_feature .feature_ico.ico1:before{background:url(../images/combi.png) no-repeat 0 0;}
.app_feature .feature_ico.ico2:before{background:url(../images/combi.png) no-repeat -40px 0;}
.app_feature .feature_ico.ico3:before{background:url(../images/combi.png) no-repeat -80px 0;}
.search_box{position:relative;padding-right:90px;box-shadow:0px 0px 4px #000;}
.search_box .btn-srch{width:90px;height:54px;text-align:center;color:#fff;background:#9bcc82;position:Absolute;padding:0;margin:0;line-height:54px;border-radius:0;right:0;top:0;font-size:18px;}
.search_box .form-control{border-radius:0;box-shadow:none;border:none;height:54px;font-size:15px;}
#more_options{background:#f0f0f0;padding:20px 0px;}
.more_optitem{text-align:center;font-size:26px;color:#252525;}
.more_optitem.brdr{border-bottom:1px #ccc solid;margin-bottom:20px;padding-bottom:20px;}
.more_optitem .mtxt_small{font-size:20px;margin-bottom:10px;}
.btn-blue, .btn-green{max-width:210px;margin:0 auto;color:#fff;font-size:16px;transition:all 0.3s ease;border-radius:4px;}
.btn-blue{background:#5d6f7d;border:1px #5d6f7d solid;}
.btn-blue:hover{background:none;color:#5d6f7d;}
.btn-green{background:#9bcc82;border:1px #9bcc82 solid;}
.btn-green:hover{background:none;color:#9bcc82;}
.footer_social{background:url(../images/background.jpg) no-repeat bottom right;background-size:cover;background-attachment:fixed;padding:30px 10px;text-align:center;font-size:24px;color:#fff;}
.footer_main{background:#f0f0f0;padding:20px 0px;text-align:center;color:#787878;font-size:14px;}
.social-wrap{margin:0 auto;margin-top:20px;width:203px;}
.social-wrap a{display:block;width:54px;height:54px;border-radius:4px;border:1px #fff solid;position:relative;}
.social-wrap a.mail{margin:0px 20px;}
.footer_lnkwrap{margin-bottom:10px;padding:0px 10px;}
.footer_lnkwrap a{color:#787878 !important;font-size:14px;white-space:nowrap;}
.social-wrap a:before{content:'';position:absolute;left:7px;top:7px;width:40px;height:40px;}
.social-wrap a.fb:before{background:url(../images/combi.png) no-repeat -120px 0;}
.social-wrap a.mail:before{background:url(../images/combi.png) no-repeat -160px 0;}
.social-wrap a.gp:before{background:url(../images/combi.png) no-repeat -200px 0;}
#featured_guides{background:#fff;padding:30px 0px;}
.featured_h{font-size:24px;color:#676767;margin-bottom:25px;text-align:center;}
.guide_card{background:#f0f0f0;box-shadow:0px 0px 3px #999;height:225px;overflow:hidden;padding:15px 10px;display:block;text-decoration:none !important;transition:all 0.3s ease;margin-bottom:20px;}
.guide_card:hover{background:#fff;box-shadow:0px 0px 6px #999;}
.guide_card_imgwrap{width:125px;height:125px;border-radius:50%;border:2px #fff solid;box-shadow:0px 0px 3px #999;position:relative;margin:0 auto;margin-bottom:10px;}
.guide_card_imgwrap img{width:100%;height:100%;border-radius:50%;display:block;}
.guide_card_imgwrap.premium:after{content:'';background:url(../images/combi.png) no-repeat 0px -44px;width:117px;height:24px;position:absolute;bottom:-5px;}
.star_ratingwrap{text-align:center;padding:4px 0px;}
.star_ratingwrap .star{width:16px;height:16px;display:inline-block;background:url(../images/combi.png) no-repeat -242px -2px;}
.star_ratingwrap .star.active{background:url(../images/combi.png) no-repeat -242px -21px;}
.guide_cardname{font-size:16px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:center;color:#252525;}
.guide_cardllocation{font-size:14px;color:#4a75b0;text-align:center;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#inner_page{background:#f0f0f0;padding:0px 10px;}
#inner_page .fix_container{background:#fff;}
.result_header{border-bottom:1px #dbdbdb solid;padding:15px;height:auto;}
.result_header .text_count{font-size:20px;padding:10px 0px;line-height:20px;color:#565656;float:none;}
.resultsrch_box{float:none;max-width:480px;border:1px #9bcc82 solid;}
.resultsrch_box .search_box{box-shadow:none;} 
.resultsrch_box .search_box .form-control{height:40px;font-size:14px;}
.resultsrch_box .search_box .btn-srch{font-size:16px;height: 40px;line-height:40px;width:90px;}
.results_wrap{padding:20px 15px 0px 15px;}
.load_morewrap{padding: 0px 10px 10px 10px;text-align:center;}
.load_morewrap a{text-decoration:none;color:#fff;background:#c2c2c2;padding:6px 10px;font-size:14px;display:inline-block;border-radius:4px;}
.load_morewrap a:hover{background:#484c5a;text-decoration:none;}
.guide_smalldesc{border-bottom:1px #f0f0f0 solid;position:relative;min-height:190px;margin-bottom:20px;padding-bottom:15px;}
.g_name{font-size:18px;color:#454545;font-weight:600;text-align:center;}
.grating_txt{font-size:13px;color:#999;text-align:center;}
.g_descitem{padding-top:5px;}
.g_descitem .col-sm-4{font-weight:600;}
strong{font-weight:600;}
.norating{color:#676767;}
.g-badge{background:#eef1f2;border-radius:2px;padding:1px 2px;color:#dcdcdc;margin-right:3px;display:inline-block;font-size:12px;}
.g-badge:last-child{margin-right:0;}
.g-badge.active{background:#e1e1e1;color:#555c62;}
.gaction_box{padding-top:20px;}
.gprice_box{background:#f7f7f7;padding:5px 10px;margin-bottom:20px;}
.gprice_h{font-size:16px;color:#555c62;font-weight:600;padding-bottom:5px;margin-bottom:8px;border-bottom:1px #e1e1e1 solid;}
.gprice_main{color:#9bcc82;font-weight:600;font-size:15px;}
.btn-ask{border:1px #999999 solid;position:relative;color:#999999;text-align:left;border-radius:2px;transition:all 0.3s ease;}
.btn-book{border:1px #9bcc82 solid;position:relative;color:#fff;text-align:left;border-radius:2px;background:#9bcc82;font-weight:600;transition:all 0.3s ease;}
.btn-book.text-center{text-align:center;font-size:18px;line-height:20px;}
.btn-book.btn-lg{ font-size: 18px;padding: 10px 12px;}
.btn-ask:hover{color:#fff;background:#999999;}
.btn-book:hover{color:#9bcc82;background:transparent;}
.btn-ask:before, .btn-book:before{position:absolute;content:'';width:0;height:0;border-style: solid;border-width:6px 0px 6px 6px;top:10px;right:6px;}
.btn-book.btn-lg:before{border-width:10px 0px 10px 10px;top:12px;}
.btn-ask:before{border-color:transparent transparent transparent #999999;}
.btn-book:before{border-color:transparent transparent transparent #ffffff;}
.btn-ask:hover:before{border-color:transparent transparent transparent #ffffff;}
.btn-book:hover:before{border-color:transparent transparent transparent #9bcc82;}
.guide_detailmain{position:relative;padding:10px;}
.guide_dtxth{font-size:20px;color:#5d6f7d;margin-bottom:5px;}
.guide_dtxt_block{color:#787878;padding-bottom:20px;margin-bottom:20px;border-bottom:1px #dbdbdb solid;text-align:justify;}
.guide_dleftinnr{background:#f9f9f9;box-shadow:0px 0px 3px #999;width:100%;padding:20px 15px;}
.tr_badge{color:#676767;border:1px #c2c2c2 solid;padding:1px 3px;display:inline-block;font-size:10px;text-transform:uppercase;}
.ginfo_top{margin-bottom:10px;border-bottom:1px #dbdbdb solid;padding-bottom:5px;}
.certificate_thumb{width:180px;display:block;color:#7f97b9;text-dacoration:none !important;margin-bottom:20px;}
.certificate_thumb img{display:block;width:100%;}
.gstar_wrap{text-align:center;position:absolute;right:10px;top:10px;border-radius:4px;background: #efdf29;background: -moz-linear-gradient(top,  #efdf29 0%, #f89f47 100%);background: -webkit-linear-gradient(top,  #efdf29 0%,#f89f47 100%);background: linear-gradient(to bottom,  #efdf29 0%,#f89f47 100%);text-decoration:none !important;z-index:5}
.gstar_wrap:hover{background: #f89f47;background: -moz-linear-gradient(top,  #f89f47 0%, #efdf29 100%);background: -webkit-linear-gradient(top,  #f89f47 0%,#efdf29 100%);background: linear-gradient(to bottom,  #f89f47 0%,#efdf29 100%);}
.gstar_wrap .star_ratingwrap{border-bottom:1px #f8a046 solid;margin-bottom:0;padding:2px 4px 0px 4px;}
.gstar_wrap .grating_txt{color:#4a75b0;font-size:14px;line-height:18px;}
.r_imgwrap{width:60px;height:60px;border-radius:50%;overflow:hidden;background:url(../images/combi.png) no-repeat -129px -41px;}
.rev_hwrap{margin-bottom:20px;}
.rev_h{padding:0;}
.r_infowrap{font-size:14px;color:#676767;}
.rev_item{background:#fafafa;padding:10px;}
.rev_dt{font-size:12px;color:#777;}
.rev_textwrap{color:#787878;}
.rev_item:nth-child(odd){background:#fff;}
.rev_title{font-size:16px;color:#595959;}
.rev_textwrap .star_ratingwrap{text-align:left;}
.modal-header .close{opacity:0.6;color:#B50003;}
.modal-header .close:hover{opacity:1;}
.modal-header .close span{font-size: 26px;line-height: 26px;font-weight: 600;}
.btn-default{background:#9ccc82;color:#fff;border-radius:4px;border:1px #9ccc82 solid;}
.btn-default:hover{background:none;color:#9ccc82;}
.checkbox{margin:0;}
.checkbox label{line-height:1.7;}
.usertype{margin-bottom:20px;}
.usertype .btn-primary{background:#f0f0f0;color:#999;border-color:#cdcdcd;margin-left:0;}
.usertype .btn-primary.active{background-color: #204d74;border-color: #122b40;color:#fff;}
.bookingwrap{padding:20px 10px;}
.bpage_h{background:#f7f7f7;font-size:18px;color:#9bcc82;font-weight:600;padding:8px 12px;margin-bottom:20px;}
.totalwrap{background:#e0edd9;color:#2f332d;text-align:right;font-size:26px;padding:10px;margin-bottom:20px;}
.t_price{font-size:22px;margin-left:30px;}
.day_itemwrap .row{background:#fff;padding-top:15px;}
.day_itemwrap .row:nth-child(odd){background:#f7f7f7;}
.sub_price{font-size:18px;}
.add_day_wrap{padding:10px 0px 20px 0px;}
.add_lang_wrap{padding:0px 0px 20px 0px;}
textarea{resize:none;}
.bookingwrap .checkbox{margin-bottom:8px;}
.btn-warn{background-color:#727272;border-color: #727272;color:#fff;}
.btn-warn:hover{background:#eee;color:#727272;}
#tourhours{padding:0;}
#tourdate, #dob, #guide_since{background:#fff url(../images/calendar.png) no-repeat 5px center;padding-left:28px;}
.booking_success{padding:10px 0px;}
.booking_successinnr{background:#fff;padding:10px;margin:0 auto;max-width:800px;}
.booking_successicon{width:102px;height:102px;margin:0 auto;background:#fff url(../images/combi.png) no-repeat -194px -44px;}
.booking_successtxt{font-size:20px;text-transform:uppercase;color:#39AF08;text-align:center;padding:20px 0px;}
.bs_h{font-size:18px;color:#454545;}
.bs_h.padd_l{padding-left:15px;margin-bottom:10px;}
.bs_h1{font-size:14px;font-weight:600;}
.guide_bdetail{margin-bottom:20px;}
.pf_cwrap{padding:10px;}
.btnwrap{padding-top:20px;}
@media (min-width:491px){
.header_menu{top:0;right:75px;left:inherit;background:none;padding:0;box-shadow:none;}
.header_menu .btn{width:auto;}
.header_menu:before{content:none;}
#main_header{height:45px;}
.search_box .btn-srch{width:125px;}
.header_txt{font-size:35px;margin-bottom:35px;}
}
@media (min-width:690px){
.result_header .text_count{float:left;}
.result_header .resultsrch_box{float:right;}
.result_header{height:70px;}
}
@media (min-width:768px){
	.brdr_lgt{border-right:1px #dbdbdb solid;}
.g_descitem{margin:0;}
.g_descitem .col-sm-7{padding:0;}
.g_descitem .col{font-weight:400;padding:0;}
.app_feature .feature_ico{width:50px;height:50px;margin-bottom:15px;font-size:20px;}
.app_feature .feature_ico:before{left:5px;top:5px;}
.app_feature .col{padding:20px 15px 0px 15px;font-size:18px;}
.app_feature .col:nth-child(2):before{left:33.33333%;content:'';}
.app_feature .col:nth-child(2):after{left:66.6666%;content:'';}
.app_feature .col:nth-child(2){border:0;}
#main_header{height:65px;}
#navbar{padding:15px;}
.mainlogo{width:115px;}
.header_menu{right:90px;}
.header_txt{font-size:38px;margin-bottom:40px;}
.app_feature{height:140px;}
.app_feature .fix_container{height:139px;}
.header_search{padding:40px 10px 70px 10px;}
.more_optitem{font-size:30px;}
.more_optitem .mtxt_small{font-size:24px;margin-bottom: 20px;}
.btn-blue, .btn-green{font-size:18px;}
.more_optitem.brdr{border:0;margin:0;border-right:1px #ccc solid;padding:0px;}
#more_options{padding:30px 0px;}
.guide_smalldesc{padding-left:166px;}
.guide_smalldesc .gimg_wrap{position:absolute;left:0;top:0;width:160px;padding:0px 15px;}
.gaction_box{width:100%;float:right;padding-top:0;}
.gprice_box{marign-bottom:20px;}
.g_name{text-align:left;}
.guide_detailstxt{margin-left:390px;}
.guide_dleft{float:left;width:370px;}
.guide_detailmain{padding:40px 20px 20px 20px;}
.r_infowrap{width:110px;padding-right:10px;float:left;}
.rev_textwrap{margin-left:120px;padding-left:10px;}
.bookingwrap{padding:20px;}
.btn-w200{max-width:260px;}
.booking_success{padding:80px 20px;}
.booking_successinnr{padding:20px;}
.booking_successtxt{font-size:30px;}
.pf_cwrap{padding:20px;}
}
@media (min-width:991px){
.gaction_box{width:160px;}
}
.ui-datepicker{background:#fff;z-index:1030!important;box-shadow:0 0 3px #999}.ui-datepicker-header{height:40px;line-height:40px;color:#b0aead;background:#e9e5e3}.ui-datepicker-next,.ui-datepicker-prev{width:20px;height:20px;text-indent:9999px;border:2px solid #b0aead;border-radius:100%;cursor:pointer;overflow:hidden;margin-top:12px;position:relative}.ui-datepicker-prev{float:left;margin-left:12px}.ui-datepicker-prev:after{top:5px;left:5px;transform:rotate(40deg)}.ui-datepicker-next{float:right;margin-right:12px}.ui-datepicker-next:after{top:5px;left:5px;transform:rotate(-140deg)}.ui-datepicker-next:after,.ui-datepicker-prev:after{content:'';position:absolute;display:block;width:6px;height:6px;border-left:2px solid #b0aead;border-bottom:2px solid #b0aead}.ui-datepicker-next:hover,.ui-datepicker-next:hover:after,.ui-datepicker-prev:hover,.ui-datepicker-prev:hover:after{border-color:#23527c}.ui-datepicker-title{text-align:center;padding-top:8px;}.ui-datepicker-title span{line-height:26px;font-size:18px;color:#565656}.ui-datepicker-calendar{width:100%;text-align:center}.ui-datepicker-calendar thead tr th span{display:block;width:40px;color:#656565;font-size:13px;background:#f7f7f7;text-align:center;line-height:30px}.ui-state-default{display:block;text-decoration:none!important;color:#787878;line-height:36px;font-size:12px}.ui-state-default:hover{background:rgba(0,0,0,.02)}.ui-state-highlight{background:#676767;color:#fff}.ui-state-active{background:#23527c;color:#fff}.ui-datepicker-unselectable .ui-state-default{color:#eee;border:2px solid transparent}