<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="signupLabel">Enter your details to register</h4>
</div>
<div class="modal-body">
    <form>
        <div class="btn-group usertype" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="user_type" id="signuser" autocomplete="off" checked> Find a Guide
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="user_type" id="signguide" autocomplete="off"> Become a Guide
            </label>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="firstname" class="control-label">First Name:</label>
                    <input type="text" class="form-control" id="firstname">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="lastname" class="control-label">Last Name:</label>
                    <input type="text" class="form-control" id="lastname">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="mobile" class="control-label">Mobile:</label>
                    <input type="tel" class="form-control" id="mobile">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="regemail" class="control-label">Email Address:</label>
                    <input type="email" class="form-control" id="regemail">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="passwrd" class="control-label">Password:</label>
                    <input type="password" class="form-control" id="passwrd">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="cnfpasswrd" class="control-label">Confirm Password:</label>
                    <input type="password" class="form-control" id="cnfpasswrd">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-block">REGISTER</button>
</div>
