<div id="inner_page">
  <div class="booking_success">
    <div class="booking_successinnr">
      <div class="booking_successicon"></div>
      <div class="booking_successtxt">Booking Successful !!!</div>
      <div class="row">
        <div class="col-sm-6 guide_bdetail">
          <div class="bs_h">Guide Details:</div>
          <div class="bs_h1">Mr. Mukesh Sharma</div>
          <strong>Email:</strong> mukesh@gmail.com<br/>
          <strong>Phone:</strong> +91-9898989898
        </div>
        <div class="col-sm-6">
          <div class="bs_h">Booking Details:</div>
          <strong>Date:</strong> Oct 14, 2016<br/>
          <strong>Time:</strong> 09:00 to 12:00<br/>
          <strong>Location:</strong> Mumbai
        </div>
      </div>
    </div>
  </div>
</div>
