<div id="inner_page">
  <div class="fix_container">
    <div class="result_header clearfix">
      <div class="text_count">Provide followiing details to complete your profile</div>
    </div>
    <div class="pf_cwrap">
      <div class="row">
        <div class="col-sm-9 brdr_lgt">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" class="form-control" id="fname">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" class="form-control" id="lname">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="mobile">Mobile</label>
                <input type="text" class="form-control" id="mobile" readonly>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="dob">Date of birth</label>
                <input type="text" class="form-control" id="dob" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <label>Gender</label>
              <div class="btn-group usertype btn-block" data-toggle="buttons">
                <label class="btn btn-primary active">
                  <input type="radio" name="gender" id="m1" autocomplete="off" checked="">
                  Male</label>
                <label class="btn btn-primary">
                  <input type="radio" name="gender" id="f1" autocomplete="off">
                  Female</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Country</label>
                <select class="locations span5 form-control" id="select-country">
                  <option value="">Select an option</option>
                  <option value="india">India</option>
                  <option value="uae">UAE</option>
                  <option value="usa">USA</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>City</label>
                <select class="locations span5 form-control" id="select-city">
                  <option value="">Select an option</option>
                  <option value="delhi">Delhi</option>
                  <option value="mumbai">Mumbai</option>
                  <option value="agra">Agra</option>
                  <option value="jaipur">Jaipur</option>
                  <option value="shimla">Shimla</option>
                  <option value="manali">Manali</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group collapse" id="cntry_other">
                <label for="othercntry">Other Country</label>
                <input type="text" class="form-control" id="othercntry">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group collapse" id="city_other">
                <label for="othercntry">Other City</label>
                <input type="text" class="form-control" id="othercity">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Secondary Cities</label>
                <select class="locations span5 form-control" id="secondary-city">
                  <option value="">Select an option</option>
                  <option value="delhi">Delhi</option>
                  <option value="mumbai">Mumbai</option>
                  <option value="agra">Agra</option>
                  <option value="jaipur">Jaipur</option>
                  <option value="shimla">Shimla</option>
                  <option value="manali">Manali</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group collapse" id="city_scndother">
                <label for="otherscndcntry">Other Secondary City</label>
                <input type="text" class="form-control" id="otherscndcity">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="guide_since">Date of birth</label>
                <input type="text" class="form-control" id="guide_since" readonly>
              </div>
            </div>
            <div class="col-sm-6">
              <label>Customer Preference</label>
              <div class="btn-group usertype btn-block" data-toggle="buttons">
                <label class="btn btn-primary active">
                  <input type="checkbox" name="pref" id="p1" autocomplete="off" checked="">
                  Male Alone</label>
                <label class="btn btn-primary">
                  <input type="checkbox" name="pref" id="p2" autocomplete="off">
                  Female Alone</label>
                <label class="btn btn-primary">
                  <input type="checkbox" name="pref" id="p3" autocomplete="off">
                  Group</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="primary_lang">Primary Language</label>
                <input type="text" class="form-control" id="primary_lang">
              </div>
            </div>
            <div class="col-sm-6">
              <label>Fluency</label>
              <div class="btn-group usertype btn-block" data-toggle="buttons">
                <label class="btn btn-primary active">
                  <input type="radio" name="fluency1" id="fl1" autocomplete="off" checked="">
                  Basic</label>
                <label class="btn btn-primary">
                  <input type="radio" name="fluency1" id="fl2" autocomplete="off">
                  Fluent</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="secondary_lang">Secondary Language</label>
                <input type="text" class="form-control" id="secondary_lang">
              </div>
            </div>
            <div class="col-sm-6">
              <label>Fluency</label>
              <div class="btn-group usertype btn-block" data-toggle="buttons">
                <label class="btn btn-primary active">
                  <input type="radio" name="fluency2" id="fl1_1" autocomplete="off" checked="">
                  Basic</label>
                <label class="btn btn-primary">
                  <input type="radio" name="fluency2" id="fl1_2" autocomplete="off">
                  Fluent</label>
              </div>
            </div>
          </div>
          <div class="add_lang_wrap"><a href="#">[+] Add another language</a></div>
          <div class="container-fluid day_itemwrap">
            <div class="row">
              <div class="bs_h padd_l">Pricing:</div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label for="group-size">Group Size</label>
                  <select class="locations span5 form-control" id="group-size">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">&gt;5</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <label>Pricing Type</label>
                <div class="btn-group usertype btn-block" data-toggle="buttons">
                  <label class="btn btn-primary active pricetype">
                    <input type="radio" name="pricetype" id="dailyprice" autocomplete="off" checked="">
                    Daily</label>
                  <label class="btn btn-primary pricetype">
                    <input type="radio" name="pricetype" id="hourprice" autocomplete="off">
                    Hourly</label>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Currency</label>
                  <select class="form-control" id="select-currency" disabled="">
                    <option value="usd">USD</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="guideprice">Price</label>
                  <input type="text" class="form-control" id="guideprice">
                </div>
              </div>
            </div>
          </div>
          <div class="add_day_wrap"><a href="#">[+] Add another pricing</a></div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label>About Yourself</label>
                <textarea class="form-control" rows="4"></textarea>
                <p class="help-block">Max 1500 characters</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label>Interests</label>
                <textarea class="form-control" rows="4"></textarea>
                <p class="help-block">Max 1500 characters</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="h_cntry">Home Country</label>
                <input type="text" class="form-control" id="h_cntry">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="h_city">Home City</label>
                <input type="text" class="form-control" id="h_city">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="transportaion">
                Transportation can arranged on request </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="licensed">
                Licensed </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="smoke">
                I do smoke </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="hideprofile">
                Stop showing my profile </label>
            </div>
          </div>
          <div class="bpage_h">Account Details</div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="b_name">Bank Name</label>
                <input type="text" class="form-control" id="b_name">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="account_no">Account Number</label>
                <input type="text" class="form-control" id="account_no">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="ifsc">IFSC code</label>
                <input type="text" class="form-control" id="ifsc">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Profile Picture</label>
            <div class="profile_picwrap"></div>
            <input type="file" class="form-control" id="profile_pic">
          </div>
          <div class="form-group">
            <label>License image</label>
            <div class="cetificate_picwrap"></div>
            <input type="file" class="form-control" id="certi_pic">
          </div>
          <div class="form-group">
            <label for="youtube">Youtube video profile</label>
            <input type="text" class="form-control" id="youtube">
          </div>
        </div>
      </div>
      <div class="row btnwrap">
        <div class="col-sm-4">
          <div class="form-group"><a class="btn btn-warning btn-block">Preview</a></div>
        </div>
        <div class="col-sm-4">
          <div class="form-group"><a class="btn btn-info btn-block">Save Draft</a></div>
        </div>
        <div class="col-sm-4"><a class="btn btn-book btn-block text-center">Submit</a></div>
      </div>
    </div>
  </div>
</div>
