  <header id="main_header">
    <div id="navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="fix_container"> <a href="#" class="mainlogo"><img src="images/logo.png" alt="logo"/></a>
        <div class="header_menu"> <a href="#singup_modal" class="btn" data-toggle="modal" data-control="user">Find a guide</a> <a href="#singup_modal" class="btn" data-toggle="modal" data-control="guide">Become a guide</a> </div>
        <a href="#singin_modal" class="btn btn-brdr sign_inbtn" data-toggle="modal" ng-click="$scope.openLogin()">SIGN IN</a> </div>
    </div>
  </header>
 
  
