<section id="main_banner">
  <div class="header_banner">
    <div class="header_search">
      <h2 class="header_txt">Plan your<br/>
        perfect trip with us</h2>
      <div class="search_box">
        <input type="text" class="form-control" name="search-input" placeholder="Where do you want to go?">
        <button type="button" class="btn btn-srch">Search</button>
      </div>
    </div>
    <div class="app_feature">
      <div class="fix_container">
        <div class="container-fluid">
          <div class="row">
            <div class="col col-xs-4">
              <div class="feature_ico ico1"> </div>
              Choose a destination and guide </div>
            <div class="col col-xs-4">
              <div class="feature_ico ico2"> </div>
              Contact your guide and customize your tour itinerary </div>
            <div class="col col-xs-4">
              <div class="feature_ico ico3"> </div>
              Book your guide online with us </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="more_options">
  <div class="fix_container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <div class="more_optitem brdr">Do you need a guide?
            <div class="mtxt_small">Your Journey Begins Here.</div>
            <a href="#singup_modal" class="btn btn-blue btn-block" data-toggle="modal" data-control="user">Find a guide</a> </div>
        </div>
        <div class="col-sm-6">
          <div class="more_optitem"> Guide And
            <div class="mtxt_small">Earn Money</div>
            <a href="#singup_modal" class="btn btn-green btn-block" data-toggle="modal" data-control="guide">Become a guide</a> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="featured_guides">
  <div class="featured_h">Featured Tour Guides</div>
  <div class="fix_container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-md-3"> <a href="#" class="guide_card">
          <div class="guide_card_imgwrap premium"> <img src="images/guide.jpg" alt="guide img"/> </div>
          <div class="guide_cardname">Mahesh Kumar</div>
          <div class="star_ratingwrap">
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star"></div>
          </div>
          <div class="guide_cardllocation">Mathura</div>
        </a> </div>
        <div class="col-sm-6 col-md-3"> <a href="#" class="guide_card">
          <div class="guide_card_imgwrap premium"> <img src="images/guide.jpg" alt="guide img"/> </div>
          <div class="guide_cardname">Mahesh Kumar</div>
          <div class="star_ratingwrap">
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star"></div>
          </div>
          <div class="guide_cardllocation">Mathura</div>
        </a> </div>
        <div class="col-sm-6 col-md-3"> <a href="#" class="guide_card">
          <div class="guide_card_imgwrap premium"> <img src="images/guide.jpg" alt="guide img"/> </div>
          <div class="guide_cardname">Mahesh Kumar</div>
          <div class="star_ratingwrap">
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star"></div>
          </div>
          <div class="guide_cardllocation">Mathura</div>
        </a> </div>
        <div class="col-sm-6 col-md-3"> <a href="#" class="guide_card">
          <div class="guide_card_imgwrap premium"> <img src="images/guide.jpg" alt="guide img"/> </div>
          <div class="guide_cardname">Mahesh Kumar</div>
          <div class="star_ratingwrap">
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star"></div>
          </div>
          <div class="guide_cardllocation">Mathura</div>
        </a> </div>
        <div class="col-sm-6 col-md-3"> <a href="#" class="guide_card">
          <div class="guide_card_imgwrap premium"> <img src="images/guide.jpg" alt="guide img"/> </div>
          <div class="guide_cardname">Mahesh Kumar</div>
          <div class="star_ratingwrap">
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star"></div>
          </div>
          <div class="guide_cardllocation">Mathura</div>
        </a> </div>
        <div class="col-sm-6 col-md-3"> <a href="#" class="guide_card">
          <div class="guide_card_imgwrap premium"> <img src="images/guide.jpg" alt="guide img"/> </div>
          <div class="guide_cardname">Mahesh Kumar</div>
          <div class="star_ratingwrap">
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star"></div>
          </div>
          <div class="guide_cardllocation">Mathura</div>
        </a> </div>
        <div class="col-sm-6 col-md-3"> <a href="#" class="guide_card">
          <div class="guide_card_imgwrap premium"> <img src="images/guide.jpg" alt="guide img"/> </div>
          <div class="guide_cardname">Mahesh Kumar</div>
          <div class="star_ratingwrap">
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star"></div>
          </div>
          <div class="guide_cardllocation">Mathura</div>
        </a> </div>
        <div class="col-sm-6 col-md-3"> <a href="#" class="guide_card">
          <div class="guide_card_imgwrap premium"> <img src="images/guide.jpg" alt="guide img"/> </div>
          <div class="guide_cardname">Mahesh Kumar</div>
          <div class="star_ratingwrap">
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star"></div>
          </div>
          <div class="guide_cardllocation">Mathura</div>
        </a> </div>
      </div>
    </div>
  </div>
</section>

