<div id="inner_page">
  <div class="fix_container">
    <div class="result_header clearfix">
      <div class="resultsrch_box">
        <div class="search_box">
          <input type="text" class="form-control" name="search-input" placeholder="Where do you want to go?"
                 value="Delhi">
          <button type="button" class="btn btn-srch">Search</button>
        </div>
      </div>
      <div class="text_count">153 results for "delhi"</div>

    </div>
    <div class="results_wrap">
      <div class="guide_smalldesc">
        <div class="gimg_wrap">
          <div class="guide_card_imgwrap premium">
            <img src="images/guide.jpg" alt="guide img">
          </div>
          <div class="star_ratingwrap">
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star"></div>
          </div>
          <div class="grating_txt">4 Reviews</div>
        </div>
        <div class="row g_descbox">
          <div class="col-sm-9">
            <a href="#" class="g_name">Mahesh Kumar</a>
            <div class="row g_descitem">
              <div class="col col-sm-4 col-md-3">Experience <span class="visible-xs">:</span></div>
              <div class="col col-sm-1 hidden-xs">:</div>
              <div class="col-sm-7">5 year(s)</div>
            </div>
            <div class="row g_descitem">
              <div class="col col-sm-4 col-md-3">Location(s) <span class="visible-xs">:</span></div>
              <div class="col col-sm-1 hidden-xs">:</div>
              <div class="col-sm-7"><a href="#"><strong>Agra (primary)</strong></a>, <a href="#">Mumbai</a></div>
            </div>
            <div class="row g_descitem">
              <div class="col col-sm-4 col-md-3">Language(s) <span class="visible-xs">:</span></div>
              <div class="col col-sm-1 hidden-xs">:</div>
              <div class="col-sm-7"><strong>English(primary)</strong>, Hindi(Fluent), Kannada(Basic), Telugu(Basic),
                Tamil (Fluent)
              </div>
            </div>
            <div class="row g_descitem">
              <div class="col col-sm-4 col-md-3">Smoking <span class="visible-xs">:</span></div>
              <div class="col col-sm-1 hidden-xs">:</div>
              <div class="col-sm-7">No</div>
            </div>
            <div class="row g_descitem">
              <div class="col col-sm-4 col-md-3">Customer Prefrence <span class="visible-xs">:</span></div>
              <div class="col col-sm-1 hidden-xs">:</div>
              <div class="col-sm-7"><span class="g-badge">Men Alone</span><span
                class="g-badge active">Women Alone</span><span class="g-badge active">Family</span></div>

            </div>
            <div class="row g_descitem">
              <div class="col col-xs-12">
                My name is Mahesh Kumar and I am a professional licensed tourist guide based in The City of Taj Mahal
                “Agra”. My passion to be guide started since i was a child. I used to... <a href="#" class="more_lnk">more
                info</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3 clearfix">
            <div class="gaction_box">
              <div class="gprice_box">
                <div class="gprice_h">Pricing<sup>*</sup></div>
                <div class="gprice_main">USD 200 / day</div>
              </div>
              <a href="#" class="btn btn-ask btn-block">Ask Mahesh</a>
              <a href="#" class="btn btn-book btn-block">Book Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="guide_smalldesc">
        <div class="gimg_wrap">
          <div class="guide_card_imgwrap premium">
            <img src="images/guide.jpg" alt="guide img">
          </div>
          <div class="star_ratingwrap norating">
            Newly Listed
          </div>
          <div class="grating_txt">No bookings yet</div>
        </div>
        <div class="row g_descbox">
          <div class="col-sm-9">
            <a href="#" class="g_name">Mahesh Kumar</a>
            <div class="row g_descitem">
              <div class="col col-sm-4 col-md-3">Experience <span class="visible-xs">:</span></div>
              <div class="col col-sm-1 hidden-xs">:</div>
              <div class="col-sm-7">5 year(s)</div>
            </div>
            <div class="row g_descitem">
              <div class="col col-sm-4 col-md-3">Location(s) <span class="visible-xs">:</span></div>
              <div class="col col-sm-1 hidden-xs">:</div>
              <div class="col-sm-7"><a href="#"><strong>Agra (primary)</strong></a>, <a href="#">Mumbai</a></div>
            </div>
            <div class="row g_descitem">
              <div class="col col-sm-4 col-md-3">Language(s) <span class="visible-xs">:</span></div>
              <div class="col col-sm-1 hidden-xs">:</div>
              <div class="col-sm-7"><strong>English(primary)</strong>, Hindi(Fluent), Kannada(Basic), Telugu(Basic),
                Tamil (Fluent)
              </div>
            </div>
            <div class="row g_descitem">
              <div class="col col-sm-4 col-md-3">Smoking <span class="visible-xs">:</span></div>
              <div class="col col-sm-1 hidden-xs">:</div>
              <div class="col-sm-7">No</div>
            </div>
            <div class="row g_descitem">
              <div class="col col-sm-4 col-md-3">Customer Prefrence <span class="visible-xs">:</span></div>
              <div class="col col-sm-1 hidden-xs">:</div>
              <div class="col-sm-7"><span class="g-badge">Men Alone</span><span class="g-badge">Women Alone</span><span
                class="g-badge">Family</span></div>

            </div>
            <div class="row g_descitem">
              <div class="col col-xs-12">
                My name is Mahesh Kumar and I am a professional licensed tourist guide based in The City of Taj Mahal
                “Agra”. My passion to be guide started since i was a child. I used to... <a href="#" class="more_lnk">more
                info</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3 clearfix">
            <div class="gaction_box">
              <div class="gprice_box">
                <div class="gprice_h">Pricing<sup>*</sup></div>
                <div class="gprice_main">USD 200 / day</div>
              </div>
              <a href="#" class="btn btn-ask btn-block">Ask Mahesh</a>
              <a href="#" class="btn btn-book btn-block">Book Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="guide_smalldesc">
        <div class="gimg_wrap">
          <div class="guide_card_imgwrap premium">
            <img src="images/guide.jpg" alt="guide img">
          </div>
          <div class="star_ratingwrap">
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star"></div>
          </div>
          <div class="grating_txt">4 Reviews</div>
        </div>
        <div class="row g_descbox">
          <div class="col-sm-9">
            <a href="#" class="g_name">Mahesh Kumar</a>
            <div class="row g_descitem">
              <div class="col col-sm-4 col-md-3">Experience <span class="visible-xs">:</span></div>
              <div class="col col-sm-1 hidden-xs">:</div>
              <div class="col-sm-7">5 year(s)</div>
            </div>
            <div class="row g_descitem">
              <div class="col col-sm-4 col-md-3">Location(s) <span class="visible-xs">:</span></div>
              <div class="col col-sm-1 hidden-xs">:</div>
              <div class="col-sm-7"><a href="#"><strong>Agra (primary)</strong></a>, <a href="#">Mumbai</a></div>
            </div>
            <div class="row g_descitem">
              <div class="col col-sm-4 col-md-3">Language(s) <span class="visible-xs">:</span></div>
              <div class="col col-sm-1 hidden-xs">:</div>
              <div class="col-sm-7"><strong>English(primary)</strong>, Hindi(Fluent), Kannada(Basic), Telugu(Basic),
                Tamil (Fluent)
              </div>
            </div>
            <div class="row g_descitem">
              <div class="col col-sm-4 col-md-3">Smoking <span class="visible-xs">:</span></div>
              <div class="col col-sm-1 hidden-xs">:</div>
              <div class="col-sm-7">No</div>
            </div>
            <div class="row g_descitem">
              <div class="col col-sm-4 col-md-3">Customer Prefrence <span class="visible-xs">:</span></div>
              <div class="col col-sm-1 hidden-xs">:</div>
              <div class="col-sm-7"><span class="g-badge">Men Alone</span><span class="g-badge">Women Alone</span><span
                class="g-badge">Family</span></div>

            </div>
            <div class="row g_descitem">
              <div class="col col-xs-12">
                My name is Mahesh Kumar and I am a professional licensed tourist guide based in The City of Taj Mahal
                “Agra”. My passion to be guide started since i was a child. I used to... <a href="#" class="more_lnk">more
                info</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3 clearfix">
            <div class="gaction_box">
              <div class="gprice_box">
                <div class="gprice_h">Pricing<sup>*</sup></div>
                <div class="gprice_main">USD 200 / day</div>
              </div>
              <a href="#" class="btn btn-ask btn-block">Ask Mahesh</a>
              <a href="#" class="btn btn-book btn-block">Book Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="guide_smalldesc">
        <div class="gimg_wrap">
          <div class="guide_card_imgwrap premium">
            <img src="images/guide.jpg" alt="guide img">
          </div>
          <div class="star_ratingwrap">
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star"></div>
          </div>
          <div class="grating_txt">4 Reviews</div>
        </div>
        <div class="row g_descbox">
          <div class="col-sm-9">
            <a href="#" class="g_name">Mahesh Kumar</a>
            <div class="row g_descitem">
              <div class="col col-sm-4 col-md-3">Experience <span class="visible-xs">:</span></div>
              <div class="col col-sm-1 hidden-xs">:</div>
              <div class="col-sm-7">5 year(s)</div>
            </div>
            <div class="row g_descitem">
              <div class="col col-sm-4 col-md-3">Location(s) <span class="visible-xs">:</span></div>
              <div class="col col-sm-1 hidden-xs">:</div>
              <div class="col-sm-7"><a href="#"><strong>Agra (primary)</strong></a>, <a href="#">Mumbai</a></div>
            </div>
            <div class="row g_descitem">
              <div class="col col-sm-4 col-md-3">Language(s) <span class="visible-xs">:</span></div>
              <div class="col col-sm-1 hidden-xs">:</div>
              <div class="col-sm-7"><strong>English(primary)</strong>, Hindi(Fluent), Kannada(Basic), Telugu(Basic),
                Tamil (Fluent)
              </div>
            </div>
            <div class="row g_descitem">
              <div class="col col-sm-4 col-md-3">Smoking <span class="visible-xs">:</span></div>
              <div class="col col-sm-1 hidden-xs">:</div>
              <div class="col-sm-7">No</div>
            </div>
            <div class="row g_descitem">
              <div class="col col-sm-4 col-md-3">Customer Prefrence <span class="visible-xs">:</span></div>
              <div class="col col-sm-1 hidden-xs">:</div>
              <div class="col-sm-7"><span class="g-badge">Men Alone</span><span class="g-badge">Women Alone</span><span
                class="g-badge">Family</span></div>

            </div>
            <div class="row g_descitem">
              <div class="col col-xs-12">
                My name is Mahesh Kumar and I am a professional licensed tourist guide based in The City of Taj Mahal
                “Agra”. My passion to be guide started since i was a child. I used to... <a href="#" class="more_lnk">more
                info</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3 clearfix">
            <div class="gaction_box">
              <div class="gprice_box">
                <div class="gprice_h">Pricing<sup>*</sup></div>
                <div class="gprice_main">USD 200 / day</div>
              </div>
              <a href="#" class="btn btn-ask btn-block">Ask Mahesh</a>
              <a href="#" class="btn btn-book btn-block">Book Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="load_morewrap">
      <a href="#">Load more results</a>
    </div>
  </div>
</div>

