<div id="inner_page">
  <div class="fix_container">
    <div class="result_header clearfix">
      <div class="resultsrch_box">
        <div class="search_box">
          <input type="text" class="form-control" name="search-input" placeholder="Where do you want to go?"
                 value="Delhi">
          <button type="button" class="btn btn-srch">Search</button>
        </div>
      </div>
      <div class="text_count">153 results for "delhi"</div>

    </div>
    <div class="results_wrap">
		<div class="guide_smalldesc" ng-repeat="guideDetails in guideList">
			<ng-include src="getFieldTemplate()"></ng-include>
		</div>
    </div>
    <div class="load_morewrap">
      <a href="#">Load more results</a>
    </div>
  </div>
</div>

